<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<main>
    </div>
    <div class="album py-5 bg-light">
        <div class="container">
            <div th:each="el : ${savedtests}" class="alert alert-info mt-2">
                <h3 th:text="${el.test.title}"/>
                <div style="display: flex;">
                    <p style="margin-right:7px">Результат: </p>
                    <p th:text="${el.result}"/>
                    %
                </div>
                <div style="display: flex;">
                    <p style="margin-right:7px">Осталось попыток: </p>
                <p th:text="${el.countoftry}"/>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>
</body>
</html>