<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" class="me-2" viewBox="0 0 118 94" role="img"><title>Bootstrap</title></svg>
            <span class="fs-4">TestPlus</span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 text-dark text-decoration-none" href="/">Главная</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/blog/saved-passed-tests">Пройденные тесты</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/blog/created-tests">Созданные тесты</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/blog/create-test">Добавить тест</a>
        </nav>

        <h3 th:inline="text"> [[${#httpServletRequest.remoteUser}]]</h3>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
</div>